<mat-nav-list>
    <div class="logo py-4">
        <img class="kaly" src="../../assets/e-kaly.png" alt="e-kaly"/>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" >Back-office</h2>
    <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
        <mat-icon>dashboard</mat-icon> dashboard
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Link 1
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Link 2
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Link 3
    </a>

</mat-nav-list>